In [11]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import time
import re
import json

In [145]:
df_final = pd.DataFrame()
for i in range(42): #2074
    if i == 0:
        URL = 'https://inmuebles.metroscubicos.com/roma-norte_NoIndex_True'
    else:
        first = 'https://inmuebles.metroscubicos.com/roma-norte_Desde_'
        number = (48*i)+1
        third = '_NoIndex_True'
        URL = first + str(number) + third
    
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find_all("div", {"class": "ui-search-result__wrapper"})
    
    all_temp = pd.DataFrame()
    #Variables
    for i in range(0, len(results)):
        ##Attributes
        att = results[i].find_all("div", {"class": "ui-search-item__group ui-search-item__group--attributes"})
        att_list = []
        for j in range(0, len(att[0].find_all('li'))):
            attribute = att[0].find_all('li')[j].get_text()
            att_list.append(attribute)
        
        # Price
        price = results[i].find_all("div", {"class": "ui-search-item__group ui-search-item__group--price"})
        price_tag = price[0].find_all('span',"price-tag-text-sr-only")[0].get_text()
        
        ##Address
        location = results[i].find_all("div", {"class": "ui-search-item__group ui-search-item__group--location"})
        loc = location[0].find_all('span',"ui-search-item__group__element ui-search-item__location")[0].get_text()
        
        #Link
        link = results[i].find_all("a", {"class": "ui-search-result__content ui-search-link"})
        link_final = link[0]['href']
        
        #Title
        title = results[i].find_all("div", {"class": "ui-search-item__group ui-search-item__group--title"})
        sub = title[0].find_all('span',"ui-search-item__group__element ui-search-item__subtitle")[0].get_text()
        main = title[0].find_all('h2',"ui-search-item__title ui-search-item__group__element")[0].get_text()
        
        temp = pd.DataFrame([main], columns=['main_name'])
        temp['subtitle'] = sub
        temp['link'] = link_final
        temp['location'] = loc
        temp['price'] = price_tag
        temp['attributes'] = ','.join(att_list)
        
        all_temp = pd.concat([all_temp, temp])
        
    
    df_final = pd.concat([df_final, all_temp])
    time.sleep(1)

In [148]:
df_final = df_final.reset_index(drop=True)

In [149]:
len(df_final)

2016

In [247]:
df_final['id'] = 1
df_final['id'] = df_final['id'].cumsum()

In [254]:
attributes_table = pd.DataFrame()
for i in range(0, len(df_final)): #len(df_final)
    URL = df_final['link'][i]
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    #Full address
    data = re.search(r'window\.__PRELOADED_STATE__ = ({.*});', page.text).group(1)
    data = json.loads(data)
    
    #Location
    try:
        lat = data['country']['geo_information']['location']['latitude']
        lon = data['country']['geo_information']['location']['longitude']
        df_final.loc[df_final.id==df_final['id'][i], 'lat'] = lat
        df_final.loc[df_final.id==df_final['id'][i], 'lon'] = lon
    except: None
    
    try:
        address = data['initialState']['components']['location']['map_info']['item_address']
        df_final.loc[df_final.id==df_final['id'][i], 'address'] = address
    except: None
        
    #Publicacion
    try:
        since = data['initialState']['components']['short_description'][0]['bottom_subtitle']['text']
        df_final.loc[df_final.id==df_final['id'][i], 'since'] = since
    except: None
    
    
    #Tabla atributos
    try:
        temp_df = pd.DataFrame(data['initialState']['components']['content_left'][1]['specs'][0]['attributes'])
        temp_df['external_id'] = df_final['id'][i]

        attributes_table = pd.concat([attributes_table, temp_df])
    except: None
    
    time.sleep(1)
    
    df_final.to_csv('../data/raw/scrapper_metros_cubicos_enhanced.csv', index=False, sep='|')
    attributes_table.to_csv('../data/raw/scrapper_metros_cubicos_attributes.csv', index=False)

In [257]:
df_final.to_csv('../data/scrapper_metros_cubicos_enhanced.csv', index=False, sep='|')

In [298]:
attributes_table.to_csv('../data/raw/scrapper_metros_cubicos_attributes.csv', index=False)

In [294]:
%%time
coord_table = pd.DataFrame()
for i in range(0, len(df_final)): #len(df_final)
    URL = df_final['link'][i]
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    try:
        results = soup.find_all("div", {"id": "ui-vip-location__map"})
        coord = str(results[0]).split('center=')[1].split('&amp')[0]

        temp = pd.DataFrame([df_final.id[i]], columns=['id'])
        temp['coords'] = coord

        coord_table = pd.concat([coord_table, temp])
    except: None

CPU times: user 3min 22s, sys: 7.84 s, total: 3min 30s
Wall time: 32min 30s

In [295]:
coord_table.to_csv('../data/raw/scrapper_metros_cubicos_coords.csv', index=False)

# JOIN

In [148]:
att = pd.read_csv('../data/raw/scrapper_metros_cubicos_attributes.csv')
coords = pd.read_csv('../data/raw/scrapper_metros_cubicos_coords.csv')
df = pd.read_csv('../data/raw/scrapper_metros_cubicos_enhanced.csv', sep='|')

## Transformación de variables

In [149]:
# Conseguir coordenadas
coords['lat'] = coords['coords'].apply(lambda x: str(x).split('%2C')[0])
coords['lon'] = coords['coords'].apply(lambda x: str(x).split('%2C')[1])

In [150]:
coords['lat'] = coords['lat'].astype(float)
coords['lon'] = coords['lon'].astype(float)

In [151]:
coords = coords.drop(columns=['coords'])

In [152]:
#Modificar tabla principal
df = df.drop(columns=['lat', 'lon'])

In [153]:
df['price_mod'] = df['price'].apply(lambda x: str(x).split(' ')[0]).astype(float)
df['price_currency'] = df['price'].apply(lambda x: str(x).split(' ')[1])

In [154]:
#Quedarnos con los conceptos que nos interesan
df.subtitle.value_counts()

Departamento en venta          1256
Oficina en renta                308
Departamento en renta           165
Casa en venta                    76
Local comercial en renta         43
Edificio en renta                38
Oficina en venta                 37
Edificio en venta                35
Terreno en venta                 18
Local comercial en venta         15
Casa en renta                    13
Otro inmueble en renta            3
Bodega en venta                   3
Bodega en renta                   3
Terreno en renta                  1
Cuarto en renta                   1
Local comercial en traspaso       1
Name: subtitle, dtype: int64

In [155]:
df.loc[df.subtitle=='Departamento en venta', 'property_type'] = 'depto'
df.loc[df.subtitle=='Departamento en venta', 'price_type'] = 'venta'

df.loc[df.subtitle=='Departamento en renta', 'property_type'] = 'depto'
df.loc[df.subtitle=='Departamento en renta', 'price_type'] = 'renta'

df.loc[df.subtitle=='Casa en venta', 'property_type'] = 'casa'
df.loc[df.subtitle=='Casa en venta', 'price_type'] = 'venta'

df.loc[df.subtitle=='Casa en renta', 'property_type'] = 'casa'
df.loc[df.subtitle=='Casa en renta', 'price_type'] = 'renta'

In [156]:
def extract_number(x: str):
    try: 
        number = re.findall(r'\d+', str(x))[0]
    except:
        number = np.nan
    return number

In [157]:
#Días de publicación
df['days_on_site'] = df['since'].apply(lambda x: extract_number(str(x)))

In [158]:
df.head(1)

,main_name,subtitle,link,location,price,attributes,id,address,since,price_mod,price_currency,property_type,price_type,days_on_site
0,Renta Departamento En Roma Norte,Departamento en renta,https://departamento.metroscubicos.com/MLM-137...,"Av Chapultepec 322, Roma Norte, Ciudad De Méxi...",17500 pesos,"85 m² construidos,2 recs.",1,"Av Chapultepec 322, Roma Norte, Ciudad De Méxi...",Publicado hace 6 días,17500.0,pesos,depto,renta,6

In [159]:
#Atributos
att_p = pd.pivot_table(att, values='text', index=['external_id'],
                    columns=['id'], 
                    aggfunc=lambda x: ' '.join(x)).reset_index()

In [160]:
att_p.columns

Index(['external_id', 'Acceso', 'Admite mascotas', 'Ambientes', 'Antigüedad',
       'Baños', 'Baños por piso', 'Bodegas', 'Cantidad de pisos',
       'Cuota mensual de mantenimiento', 'Departamentos por piso',
       'Disposición', 'Estacionamientos', 'Forma del terreno',
       'Metros de fondo', 'Metros de frente', 'Número de oficinas',
       'Número de piso de la unidad', 'Oficinas por piso', 'Orientación',
       'Recámaras', 'Superficie construida', 'Superficie total',
       'Tipo de casa', 'Tipo de departamento', 'Tipo de propiedad'],
      dtype='object', name='id')

In [161]:
#Filtrar columnas que nos interesan
filter_ = ['external_id', 
           'Superficie total', 'Antigüedad', 'Baños',
           'Estacionamientos', 'Recámaras', 'Superficie construida'
          ]

In [162]:
att_p = att_p[filter_]

In [163]:
att_p = att_p.copy()

In [164]:
att_p['Superficie total'] = att_p['Superficie total'].fillna('0 ')
att_p['m2_totales'] = att_p['Superficie total'].apply(lambda x: str(x).split(' ')[0]).astype(float)

In [165]:
att_p['Superficie construida'] = att_p['Superficie construida'].fillna('0 ')
att_p['m2_construidos'] = att_p['Superficie construida'].apply(lambda x: str(x).split(' ')[0]).astype(float)

In [166]:
att_p['Antigüedad'] = att_p['Antigüedad'].fillna('0 ')
att_p['years'] = att_p['Antigüedad'].apply(lambda x: str(x).split(' ')[0]).astype(float)

In [167]:
att_p = att_p.drop(columns=['Superficie total', 'Antigüedad',
                            'Superficie construida'])

In [168]:
att_p.head(1)

id,external_id,Baños,Estacionamientos,Recámaras,m2_totales,m2_construidos,years
0,1,2,1,2,85.0,85.0,1.0

## Unir tablas

In [169]:
len(df)

2016

In [170]:
df_final = df.merge(coords, on='id', how='left')

In [171]:
len(df_final)

2016

In [172]:
att_p.head(1)

id,external_id,Baños,Estacionamientos,Recámaras,m2_totales,m2_construidos,years
0,1,2,1,2,85.0,85.0,1.0

In [173]:
att_p = att_p.rename(columns={'external_id':'id'})
df_final = df_final.merge(att_p, on='id', how='left')

In [174]:
len(df_final)

2016

In [175]:
df_final.head(1)

,main_name,subtitle,link,location,price,attributes,id,address,since,price_mod,...,price_type,days_on_site,lat,lon,Baños,Estacionamientos,Recámaras,m2_totales,m2_construidos,years
0,Renta Departamento En Roma Norte,Departamento en renta,https://departamento.metroscubicos.com/MLM-137...,"Av Chapultepec 322, Roma Norte, Ciudad De Méxi...",17500 pesos,"85 m² construidos,2 recs.",1,"Av Chapultepec 322, Roma Norte, Ciudad De Méxi...",Publicado hace 6 días,17500.0,...,renta,6,19.422992,-99.164232,2,1,2,85.0,85.0,1.0

In [176]:
# Quedarnos con los tipos que nos interesan
df_final = df_final.dropna(subset=['price_type'])

In [177]:
len(df_final)

1510

In [178]:
df_final = df_final.drop(columns=['price', 'attributes',
                                  'address', 'since',
                                 ])

In [179]:
df_final.isna().sum()

main_name             0
subtitle              0
link                  0
location              0
id                    0
price_mod             0
price_currency        0
property_type         0
price_type            0
days_on_site        218
lat                  26
lon                  26
Baños                17
Estacionamientos    344
Recámaras            26
m2_totales            3
m2_construidos        3
years                 3
dtype: int64

In [180]:
df_final['price_final'] = df_final['price_mod']
df_final.loc[df_final.price_currency=='dólares', 
             'price_final'] = df_final['price_mod']*20

In [181]:
#Guardar
df_final.to_csv('../data/processed/metros_cubicos_data.csv', index=False)